body {
    font-family: Roboto;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.section-one, footer {
    background-color: #1F2937;
}

.section-one, .section-two, .section-three, .section-four, footer {
    padding: 15px 200px 0 200px;
}

.header{
    display: flex;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight:900;
    color: #F9FAF8;
}

.links{
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #E5E7EB;
}

.content{
    padding: 100px 0px;
    display:flex;
}

.hero-text {
    flex: .6;
    margin-right:auto;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-sub-text{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 10px 25px;
    border-color: #3882F6;
    border-style: solid;
}

.hero-text button {
    margin-top: 10px;
}

.img-placeholder {
    background-color: rgb(155, 154, 154);
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:100px 225px;
}

.section-two {
    margin: 75px;
}

.section-two h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900
}

.section-two .container {
    display:flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.image-and-subtext {
    max-width: 175px;
}

.blank-image{
    border-color: #3882F6;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    width: auto;
    height: 150px;
    margin-bottom: 10px;
}

.subtext {
    text-align: center;
}

.section-three {
    background-color: #E5E7EB;
    padding: 150px 150px;
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    padding: 0px 300px;
}

.quote-author{
    font-weight: 900;
    text-align: end;
    padding: 0px 300px;
}






